server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/expense_tracker?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ""
  
  jpa:
    hibernate:
      ddl-auto: update  # ou 'create', 'validate', 'none'
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true